<%- include('../includes/head.ejs')%>
    </head>

    <body>
        <%- include('../includes/navigation.ejs')%>
            <main>
                <% if(orders.length<=0) { %>
                    <h1>No Orders! Please add some products!</h1>
                <% } else { %>
                    <ul>
                        <% orders.forEach(order => { %>
                            <li>
                                <h3>
                                    Order #
                                    <%= order._id %>
                                </h3>
                            </li>
                            <li>
                                <% order.products.forEach( product => { %>
                                    <h4>
                                        <%= product.product.title %> (<%= product.quantity %> ) - <a href="/orders/<%= order._id%>">Invoice</a>
                                    </h4>
                                    <% }) %>
                            </li>
                            <% })%>
                    </ul>
                <% } %>
            </main>
            <%- include('../includes/end.ejs')%>